html, body {
  height: 100%;
    
}

.full-height {
  height: 100%;
}

body {
    background-color: black;
        
}



@font-face {
  font-family: 'authentic';
    
  src: url('../fonts/AUTHENTICSans-90.otf');

  
    
}




img {
    height: 10%;
    margin-top: 2%;
    margin-left:2%;
    
}

.image2 {
    height:100%;
        margin-top:0%;
    margin-left:2%;
    position:relative;
}



.image3 {
    height:40%;
        margin-top:4%;
    margin-left:-30%;
    position:absolute;
    z-index: -1;
    
    
}

.image5 {
    height:25%;
        margin-top:-0%;
    margin-left:-85%;
    position:absolute;
    z-index:-2;
}

.image4 {
    height:25%;
        margin-top:42%;
    margin-left:-35%;
    position:absolute;
    z-index: -1;
}

.image7 {
    height:25%;
        margin-top:52%;
    margin-left:-80%;
    position:absolute;
    z-index: -1;
}

.image6 {
    height:25%;
    margin-top:20%;
    margin-left:-65%;
    position:absolute;
    z-index: -2;
}

.image8 {
    height:60%;
        margin-top:22%;
    margin-left:10%;
    position:relative;
}

.image9 {
    height:50%;
        margin-top:58%;
    margin-left:-40%;
    position:absolute;
    z-index: -1;
}

.image10 {
    height:30%;
        margin-top:30%;
    margin-left:-40%;
    position:absolute;
    z-index: -1;
}

.image11 {
    height:30%;
        margin-top:14%;
    margin-left:5%;
    position:absolute;
    z-index: -1;
}

.p1 {
    
    color:white;
    margin-left: 15%;
    margin-top: -4%;
    font-size: 15pt;
    letter-spacing: 3pt;
    font-family: "authentic";
    
    
}
p {
    
    color:white;
    margin-left: 2.5%;
    margin-top: -5%;
    font-size:12pt;
    font-family: "authentic";
    
}

.p4 { 
    color:white;
    margin-top: 70pt;
    margin-left: 40%;
    font-family: "authentic";
    font-size:11pt;
    z-index: 2;
    position:absolute;
    
}

.p5 {
    
    color:white;
    position:absolute;
    font-family: "authentic";
    font-size:11pt;
    margin-top:140pt;
    margin-left:50%;
}


a:link {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color:blue;
}
a {
    color:white;
    

}
