html, body {
  height: 100%;
    
}

.full-height {
  height: 100%;
}

body {
    background-color: white;
        
}

img {
    height: 15%;
    margin-top: 1%;
    margin-left:2%;
    
}

.image2 {
    height:45%;
        margin-top:2%;
    margin-left:32%;
    position:absolute;
}


p {
    
    color:black;
    margin-left: 2.5%;
    margin-top: -5%;
}

.p1 {
    
    color:black;
    margin-left: 20%;
    margin-top: -5%;
    font-size: 15pt;
    letter-spacing: 3pt;
    
}

.p2 {
    
    color:black;
    margin-left: 2.5%;
    margin-top: 48%;
    font-size: 13pt;
    letter-spacing: 3pt;
    position:absolute;
}

a {
    color:blue;
}
