html, body {
  height: 100%;
    
}

.full-height {
  height: 100%;
}

body {
    background-color: black;
        
}

@font-face {
  font-family: 'authentic';
  src: url('../fonts/AUTHENTICSans-90.otf');
  font-weight: 400;
    
}

@font-face {
  font-family: 'authentic';
  src: url('../fonts/AUTHENTICSans-130.otf');
  font-weight: 700;
    
}



img {
    height: 10%;
    margin-top: 2%;
    margin-left:2%;
    
}

.image2 {
    height:40%;
        margin-top:2%;
    margin-left:10%;
    position:relative;
}



.image3 {
    height:40%;
        margin-top:30%;
    margin-left:-40%;
    position:absolute;
    z-index: 1;
}

.image5 {
    height:40%;
        margin-top:-46%;
    margin-left:2.5%;
    position:inherit;
    z-index:1;
}

.image4 {
    height:40%;
        margin-top:35%;
    margin-left:0%;
    position:absolute;
    z-index: -1;
}

.image6 {
    height:40%;
    margin-top:0%;
    margin-left:0%;
    position:absolute;
}
p1 {
    
    color:white;
    margin-left: 34%;
    margin-top: -4.5%;
    font-size: 15pt;
    letter-spacing: 3pt;
    font-family: "authentic";
    font-weight: 700;
    
}
p {
    
    color:white;
    margin-left: 2.5%;
    margin-top: -5%;
    font-size:12pt;
    font-family: "authentic";
    font-weight: 400;
}




a:link {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
a {
    color:blue;
    

}
