html, body {
  height: 100%;
    
}

.full-height {
  height: 100%;
}

body {
    background-color: white
        
}

img {
    height: 32%;
    margin-top: -3%;
    margin-left:-1%;
    
}

p {
    
    color:black;
    margin-left: 2.5%;
    margin-top: -3%
}
